<!DOCTYPE html>
<html>
  <head>
    <title>vYou Global Backend</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>vYou Global Backend</h1>
    <p>Welcome to the vYou Global Backend</p>
  </body>
</html>
